{% extends 'trello/trello_base.html' %}

{% block form %}
    <form class="" action="{% url 'next_page_url' %}" method="post">
        {% csrf_token %}

        <div class="offset-1 col-12">
            <h5 class="container-fluid">Данные о Ваших досках успешно получены!</h5>
        </div>
        <div class="col-5 offset-3">
            <button type="submit" class="btn container-fluid text-white" style="background-color: #007ac0">
                Далее
            </button>
        </div>
        <input type="hidden" id="token" name="token" value="">
        <script>
            if (window.location.hash != ""){
                token.value = window.location.hash.substr(7);
            }
        </script>
     </form>
{% endblock %}